.main-section{
    
    height: 500px ;
    background: url('../../public/assets/sign-language-7096475_1280.png');
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% !important;
    padding: 5%;
}

.main-title{
    padding-top: 80px !important;
    text-align: left;
    font-size: 60px;
    margin: 0 !important;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
}

.nodata{
    min-height: 200px;
}

.main-title-sub{
    text-align: left;
    font-size: 60px;
     margin: 0 !important;
         font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;

}

.recordD{
    text-align: right;
}

.btn-register{
    margin-left: 5px;
    margin-top: 2%;
    height: 40px;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
}

.about-section{
    padding: 5%;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.video_div{
    border-radius: 20px !important;
    width: 100% !important;
}

.text-input{
    width: 100%;
    border-style: none;
    padding: 4%;
}

#translation_section_id{
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 20px;
}

.text-data{
    text-align: justify !important;
        font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
}

.col_t , .main_t_row{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 30px;
}

.main_t_row{
    background-color: rgb(255, 255, 255);
}
#text-inpu-da{
    font-size: 27px !important;
    border-radius: 20px !important;
}

.img_data_set{
    border-left: 5px solid rgb(133, 133, 133);
    min-height: 80px !important;
    max-height: 100px !important;
    min-width: 100px !important;
    border-radius: 200px;
    border-bottom: 5px solid rgb(173, 173, 173) !important;
}
.card-translate{
    box-shadow: none;
    min-height: 400px;
    border-radius: 20px;
}

.col_style{
    padding-left: 5px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.11);
}

.p-column-title{
    padding-left: 5px !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  .custom-alert .alert-button-group {
    padding: 8px;
  }
  
  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }

@media (max-width: 576px) { 

    .main-section{
        background: url('../../public/assets/moble-bg.png');
        background-attachment: fixed !important;
        text-align: center;
        overflow: hidden;
        background-repeat: no-repeat;
        padding: 0 !important;
        margin: 0 !important;
        max-height: 400px !important;
    }

    .main-title{
        padding-top:80px !important;
        text-align: center;
        font-size: 35px;
       
    }

    .main-title-sub{
        text-align: center;
        font-size: 35px;
        margin-bottom: 3% !important;
       

    }

    .about-sub{
        padding: 7% !important;
    }

    .sub-m{
        background-color: #4e6e86ef;
        padding: 4% !important;
        margin: 0 !important;
        height: 100vh !important;
        overflow: hidden;
    }
    .text-data{
        text-align: left !important;
        padding: 5%;
        font-family: 'Comfortaa', cursive;
        font-family: 'Montserrat', sans-serif;
    }
}